:root {
  --primary: #375EC5;
  --primary-text: #333;
  --background: #f9f9fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--background);
}
ul {
  list-style-type: none;
}
div#__next,
body,
html {
  height: 100%;
}
